body {
     overflow-x: hidden;
}
*{
    list-style-type: none;
    font-family: "Microsoft YaHei"
}
h1 {
    margin: 0;
    font-size: 64px;
    line-height: 100px;
    text-align: center;
    color: #000
}
h2 {
    font-size: 56px;
    line-height:66px;
    text-align: center;
    color: #000
}
em {
	font-style:normal
}
ul {
    padding-left: 0
}
p {
    text-align: center;
    font-size: 24px;
}

.container {
    width: 1180px;
    max-width: none !important;
    padding: 0
}

.baoming {
    cursor: pointer
}

.main-banner {
    display: block;
    width: 100%
}

.full-screen {
    width: 100%;
        padding-right: 0;
    padding-left: 0;
}

.ajax-result {
    text-align: center;
    color: #ff0000;
    font-size: 20px;
}

#totop {
    position: fixed;
    bottom: 16px;
    left: 8px;
    color: #1abb9c;
    z-index: 9999;
    font-size: 3em;
    cursor: pointer;

}

nav.menu {
    height: 60px;
    background-color: #ea9f0e;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.menu .logo {
    display: block;
    float: left;
    margin-right: 20px
}

.menu .main-menu-container {
    float: left
}
.menu .main-menu > li {
    float: left
}

.menu .main-menu > li a {
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.menu p {
    float: right;
    background: url(../images/top-phone.png) no-repeat;
    background-position-y: 20px;
    padding-left: 47px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
}

/* 标题 */
.main-tit {
    padding:20px 0 8px 0;
}
.main-tit p {
    font-size:34px
}



/*设计师 底部*/


.kananli p {
    text-align: center;
    line-height: 160px;
    margin-right: 90px;
    background: url(../images/tblogo.png) no-repeat right;
    font-size: 60px
}
.kananli p span {
    color: #e73449
}


.sjs  {
    background-image: url(../images/sjs-bg.png);
    background-color: #dab866;
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 40px 0 120px 0;
    display: table;
}

.sjs h1 {
    font-size: 50px;
    color: #fff;
    line-height: 100px
}

.sjs .btn-primary {
color: #fff;
    background-color: #dab866;
    border-color: #dab866;
    padding: 10px 99px;
    font-size: 30px;
}
.sjs .btn-primary:focus,
.sjs .btn-primary.focus {
  color: #fff;
  background-color: #dab866;
  border-color: ec5e66;
}
.sjs .btn-primary:hover {
  color: #fff;
  background-color: #dab866;
  border-color: ec5e66;
}


.sjs-list {
    background: #dab866
}


.sjs-list .con {
    margin: 0 auto;
    width: 1100px !important;
    padding:30px 55px;
    background: #dab866;
    overflow: hidden
}
.sjs-list .con ul li {
    float: left;
    margin: 5px 33px 35px 33px;
    padding:25px 0 20px 0;
    width: 246px;
    background: #fff;
    text-align: center
}
.sjs-list .con li img {
    cursor: pointer
}
.sjs-list .con li p {
    font-size: 26px;
    line-height: 30px;
    margin: 10px 0 0 0
}
.sjs-list .con li span{
    display: block;
    font-size: 20px
}

.sjs-list .con li .btn-primary {
    padding: 11px 42px;
    border-radius: 120px;
    color: #fff;
    background-color: #e73449;
    border-color: #e73449;
    font-size: 22px;
    margin-top: 20px
}
.sjs-list .con li .btn-primary:focus,
.sjs-list .con li .btn-primary.focus {
  color: #fff;
  background-color: #e45b6b;
  border-color: #e45b6b;
}
.sjs-list .con li .btn-primary:hover {
  color: #fff;
  background-color: #e45b6b;
  border-color: #e45b6b;
}

.qijian {
    background: #000
}

.qijian h1 {
    color: #fff;
    line-height: 100px;
    padding-top: 40px;
}

.qijian p {
    text-align: center;
    color: #ffc547;
    font-size: 48px;
    padding-bottom: 30px
}


.baozhang {
    padding-top: 30px;
    background: #dab866;
    overflow: hidden
}
.baozhang div> ul li {
    text-align: center;
    width: 20%;
    float: left
}
.baozhang img {
    cursor: pointer
}
.baozhang p {
    color: #fff;
    font-size: 26px;
    line-height: 85px
}

.xian-right {
    border-right: 1px solid #b57100;
}

.xian-left {
    border-left: 1px solid #ffffcc;
}

.xian-bottom {
    border-top: 1px solid #b57100;
    border-bottom: 1px solid #ffffcc;
    margin-top: 30px;
}

.foot {
    padding: 50px;
    text-align: center
}
.foot a {
	display:black
}
