* {
  list-style: none
  outline: none
}

body, button, input, select, textarea {
    font: 12px/1.5 "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif
}

a
  color: #000
  &:hover
    text-decoration: none

.container-fluid
  padding-left: 0
  padding-right: 0

.container
  padding-left: 0
  padding-right: 0

input
  outline: none
